.avatar1 {
	height: 52%;
}

.credits-left {
	margin-top: 30px;
}

.dictionary_title {
	font-size: 2.3rem;
}

.dictionary_words {
	font-size: 1.2rem;
	list-style-type: disc;
}

.sponsors-group {
	padding-top: 25px;
}
